
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.gz
Hardware Definitions/Master Controller/Working on Master controller.txt
Hardware Definitions/Master Controller/Master controller definition.toc
Software/Startup testing code/MPLABproject/Startup testing 2.X/.generated_files/flags/default/430ad84a2bab6f060165d63c10fd436a30e5a327
Software/Startup testing code/MPLABproject/Startup testing 2.X/.generated_files/flags/default/74d92322d963479e5b0876e81670a9f4ff312a77
Software/Startup testing code/MPLABproject/Startup testing 2.X/.generated_files/flags/default/da39a3ee5e6b4b0d3255bfef95601890afd80709
*.o
*.d
*.elf
*.map
*.mk
*.xml
Software/Hardware verification testing/Button Module/Button Module.X/.generated_files/flags/default/5ed0c1510611cf9d0dee0196ec48aad8de9a8a60
Software/Hardware verification testing/Button Module/Button Module.X/.generated_files/flags/default/da39a3ee5e6b4b0d3255bfef95601890afd80709
Software/Hardware verification testing/Button Module/Button Module.X/.generated_files/flags/default/fd1b4f4a3ede282101283d07c3dbcb8d2d8f5b71
Software/Hardware verification testing/Light Controller/Light Controller.X/.generated_files/flags/default/119e1167805d5153b1397e0961822707bc09f3d4
Software/Hardware verification testing/Light Controller/Light Controller.X/.generated_files/flags/default/da39a3ee5e6b4b0d3255bfef95601890afd80709
Software/Hardware verification testing/Light Controller/Light Controller.X/.generated_files/flags/default/6338610763e44495fa1477cc84d631a48a94c3e0
Software/Hardware verification testing/Marshal Controller/Marshal.X/.generated_files/flags/default/9a306053f1974dcc26d7222df5872f452cbf9fb8
Software/Hardware verification testing/Marshal Controller/Marshal.X/.generated_files/flags/default/da39a3ee5e6b4b0d3255bfef95601890afd80709
Software/Hardware verification testing/Marshal Controller/Marshal.X/.generated_files/flags/default/e51679d19433b59cc1103783c86807814e28dbb0
Software/Startup testing code/MPLABproject/Startup testing 2.X.zip
Software/Startup testing code/MPLABproject/Startup testing 2.X/nbproject/Makefile-genesis.properties
Software/Startup testing code/MPLABproject/Startup testing 2.X/nbproject/Makefile-genesis.properties
Software/Startup testing code/MPLABproject/Startup testing 2.X/newavr-main.c
*.properties
*.properties
Software/Startup testing code/MPLABproject/Startup testing 2.X/nbproject/Makefile-genesis.properties
